
<link href="~/Content/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>


<div id="ref">
    You Have to login.
</div>
<script>
    $(function() {
        $("#ref").dialog();
    })
</script>